@model IEnumerable<rh.Data.PLANILLA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PLAFECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLATOTAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PLAFECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLATOTAL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PLANILLA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PLANILLA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PLANILLA })
        </td>
    </tr>
}

</table>
